<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Wheather Help</title>
</head>
<body>
    {{!-- para referencia el partial es la misma sintaxis pero con > no hace falta aclarar la extension y recordar que ya definimos la ruta de la carpeta de los partials --}}
    {{>header}}
 
    <p>{{helpText}} </p>

    {{>footer}}

</body>
</html>